---
import Cate from "./Cate.astro"
import Tag from "./Tag.astro"
import { processor, date, linkStory, linkSite } from "../consts"
const { post } = Astro.props
const tags = post.data.tags
if (post.data.ai_comment && !tags.includes("AI评论")) {
  tags.push("AI评论")
}
---

<post
  data-finished={post.data.finished || (post.data.ai_source ? true : false)}
  class="post card bg-base-200 hover:bg-base-300/30 shadow-md hover:shadow-lg shadow-base-content/20 w-full mt-3 mb-3 transition-all duration-100"
>
  <div class="card-body">
    <div class="flex justify-between items-center">
      <div class="card-title btn-link btn-ghost link link-primary link-hover">
        <a href={linkStory(post.id)}>{post.data.title}</a>
      </div>
      <div class="flex flex-col items-center">
        <div class="text-xs text-secondary mb-1">
          {
            post.data.tags.includes("AI批评")
              ? "-"
              : `${date(post.data).getFullYear()}.${
                  date(post.data).getMonth() + 1
                }.${date(post.data).getDate()}`
          }
        </div>
        <Cate postId={post.id} />
      </div>
    </div>
    <a
      class="pl-3 pr-3 text-sm/relaxed text-base-content/75 link-hover"
      href={linkStory(post.id)}
    >
      <Fragment
        set:html={await processor.process(
          post.data.excerpt
            ? post.data.excerpt.replaceAll("\\n", "\n")
            : typeof post.body == "string"
              ? post.body.slice(0, 120) + "……"
              : ""
        )}
      />
    </a>
    <div class="flex items-center justify-between">
      <a
        class={"flex items-center gap-0.5 text-nowrap mr-2 link link-hover " +
          (post.data.finished
            ? "link-success"
            : post.data.word_count
              ? "link-warning"
              : "link-info")}
        href={post.data.finished
          ? linkSite("fin")
          : post.data.word_count
            ? linkSite("tbc")
            : linkStory("ai")}
      >
        <div
          aria-label={post.data.finished
            ? "success"
            : post.data.word_count
              ? "warning"
              : "info"}
          class={"status " +
            (post.data.finished
              ? "status-success"
              : post.data.word_count
                ? "status-warning"
                : "status-info")}
        >
        </div>
        <span class="text-xs items-center">
          {
            post.data.word_count
              ? `${post.data.word_count}字`
              : `内容由${post.data.author}创作`
          }
        </span>
      </a>
      <span class="flex overflow-x-scroll h-auto">
        {
          post.data.tags &&
            post.data.tags.map((tag: string) => <Tag tag={tag} />)
        }
      </span>
    </div>
  </div>
</post>
