---
import BasicPage from "../layouts/BasicPage.astro"
const { title } = Astro.props

import Cate from "../components/Cate.astro"
import Tag from "../components/Tag.astro"
const { slug } = Astro.params
const { tags, word_count, ai_comment, ai_source } = Astro.props
import { linkStory } from "../consts"
---

<BasicPage title={title}>
  <slot name="title" slot="title">
    {title}
  </slot>
  <slot name="description" slot="description">
    {word_count ? `${word_count}字` : "内容由AI创作"}
  </slot>
  <slot name="header" slot="header">
    <Cate postId={slug} />
    {tags && tags.map((tag: any) => <Tag tag={tag} />)}
  </slot>

  <div class="toast toast-top toast-end mt-16">
    {
      ai_comment && (
        <a
          class="btn btn-sm btn-soft btn-info"
          href={linkStory(`ai/${slug?.split("/").slice(-1)[0]}`)}
        >
          <svg
            class="w-6 h-6 bg-neutral-content rounded-full p-1"
            viewBox="0 0 46 46"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_369_885)">
              <path
                d="M45.517 8.59052C45.0302 8.35285 44.8193 8.8071 44.5357 9.03902C44.4379 9.11377 44.3555 9.21152 44.2731 9.29969C43.5601 10.0606 42.7283 10.5589 41.6415 10.4995C40.0526 10.4114 38.6956 10.9097 37.4958 12.1249C37.2408 10.626 36.3937 9.73285 35.1057 9.15785C34.431 8.85885 33.7487 8.56177 33.2753 7.91202C32.9456 7.4501 32.8555 6.93452 32.6907 6.42852C32.5853 6.12185 32.4798 5.80944 32.1291 5.75769C31.7458 5.69827 31.5963 6.01835 31.4468 6.28669C30.8468 7.38302 30.6149 8.59052 30.6379 9.81335C30.6897 12.5657 31.8512 14.7584 34.1608 16.3166C34.4233 16.4949 34.4904 16.675 34.408 16.9357C34.2508 17.4724 34.063 17.9937 33.8982 18.5323C33.7928 18.8754 33.6356 18.9482 33.2676 18.8006C32.0242 18.2662 30.8947 17.4985 29.9403 16.5389C28.2977 14.9519 26.8142 13.2001 24.9627 11.8278C24.5337 11.5108 24.0932 11.2097 23.6421 10.925C21.7542 9.09077 23.8913 7.58427 24.3858 7.40602C24.9033 7.21819 24.564 6.57802 22.8927 6.58569C21.2213 6.59335 19.6918 7.1511 17.7426 7.89669C17.4529 8.00768 17.1549 8.09549 16.8513 8.15927C15.0298 7.81606 13.1668 7.75015 11.3256 7.96377C7.71267 8.36627 4.82809 10.0759 2.70634 12.9912C0.157169 16.4949 -0.442747 20.4777 0.291336 24.6292C1.06375 29.0069 3.29859 32.6313 6.73134 35.4641C10.2925 38.4024 14.3923 39.8418 19.0708 39.5658C21.9113 39.4029 25.0758 39.0214 28.6427 36.0008C29.5435 36.4493 30.4865 36.6275 32.0543 36.7617C33.2618 36.8748 34.4233 36.7042 35.3223 36.5164C36.731 36.2174 36.6333 34.9121 36.1253 34.6744C31.9949 32.7501 32.9015 33.534 32.0754 32.8996C34.1761 30.4156 37.3386 27.8358 38.5768 19.4772C38.6726 18.8121 38.5902 18.3943 38.5768 17.8576C38.5691 17.5318 38.6438 17.4034 39.0176 17.3669C40.0546 17.2594 41.0605 16.9501 41.9788 16.4565C44.6545 14.9941 45.7355 12.5944 45.9904 9.7156C46.0288 9.27477 45.9828 8.82244 45.517 8.59052ZM22.1969 34.5C18.193 31.3529 16.2514 30.3159 15.4503 30.36C14.6989 30.406 14.835 31.2628 14.9998 31.8224C15.1723 32.3744 15.3966 32.7539 15.7109 33.2389C15.9294 33.5589 16.0789 34.0362 15.4943 34.3946C14.2044 35.1919 11.9638 34.1263 11.8584 34.0745C9.24984 32.5374 7.06675 30.5095 5.5315 27.7361C4.048 25.0662 3.1855 22.2027 3.04367 19.1456C3.00534 18.4058 3.22192 18.1451 3.95792 18.0109C4.92413 17.826 5.91412 17.8008 6.8885 17.9362C10.9748 18.5342 14.4517 20.3608 17.3688 23.253C19.0325 24.9014 20.2918 26.8698 21.5893 28.7941C22.9693 30.8373 24.4528 32.7846 26.3427 34.3793C27.0097 34.9389 27.5406 35.3644 28.0504 35.6769C26.5133 35.8494 23.9488 35.8877 22.1969 34.5ZM24.1136 22.1567C24.1133 22.0615 24.1361 21.9676 24.1802 21.8832C24.2242 21.7988 24.2882 21.7264 24.3665 21.6722C24.4448 21.6181 24.5351 21.5838 24.6296 21.5724C24.7242 21.5609 24.82 21.5727 24.909 21.6066C25.0224 21.6473 25.1203 21.7223 25.189 21.8213C25.2577 21.9202 25.2938 22.0381 25.2923 22.1586C25.2926 22.2364 25.2774 22.3135 25.2475 22.3854C25.2177 22.4573 25.1738 22.5225 25.1185 22.5773C25.0632 22.6321 24.9976 22.6753 24.9254 22.7044C24.8532 22.7336 24.776 22.748 24.6982 22.747C24.6209 22.7473 24.5444 22.7321 24.4731 22.7025C24.4018 22.6728 24.3371 22.6292 24.2828 22.5742C24.2286 22.5193 24.1858 22.454 24.1571 22.3823C24.1284 22.3106 24.1123 22.2339 24.1136 22.1567ZM30.0744 25.2157C29.6911 25.3709 29.3097 25.5051 28.9436 25.5224C28.3928 25.5416 27.8524 25.3695 27.4141 25.0355C26.8889 24.5947 26.5133 24.3494 26.3561 23.5827C26.3019 23.208 26.3123 22.8268 26.3868 22.4557C26.5209 21.8289 26.3714 21.4264 25.9287 21.0623C25.5703 20.7633 25.1122 20.6809 24.61 20.6809C24.4381 20.6709 24.2711 20.6196 24.1232 20.5314C23.9123 20.4279 23.7398 20.1672 23.9047 19.8452C23.9583 19.7417 24.2113 19.4887 24.2727 19.4427C24.955 19.0555 25.7428 19.182 26.4692 19.4734C27.1438 19.7494 27.6537 20.2554 28.3878 20.9722C29.1372 21.8366 29.2733 22.0762 29.7007 22.724C30.038 23.2319 30.3447 23.7533 30.5536 24.3494C30.682 24.7231 30.5172 25.0279 30.0744 25.2157Z"
                fill="#4D6BFE"
              />
            </g>
            <defs>
              <clipPath id="clip0_369_885">
                <rect width="46" height="46" fill="white" />
              </clipPath>
            </defs>
          </svg>
          DeepSeek长评
        </a>
      )
    }
    {
      slug!!.includes("ai") && (
        <a
          class="btn btn-sm btn-soft btn-info"
          href={linkStory(ai_source.toLowerCase())}
        >
          评价对象
        </a>
      )
    }
  </div>
  <slot />
</BasicPage>
